/* Tailwindscss 4.0 */
@import "tailwindcss";

/* @radix-ui/colors */
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/red-dark.css";

/* Chrome, Safari, Opera용 스크롤바 숨김 */
::-webkit-scrollbar {
  display: none;
}

/* IE, Edge, Firefox용 스크롤바 숨김 */
:root {
  -ms-overflow-style: none; /* IE 및 Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans KR", "Noto Sans JP", sans-serif;
}